openapi: 3.1.0
info:
  title: Julep Storefront Read-Only JSON Cart API
  version: '2026-07-19'
  summary: Public, unauthenticated catalog and cart JSON endpoints on www.julep.com.
  description: 'Julep runs its direct-to-consumer beauty store on Shopify. The provider publishes an

    agent-facing description of the store at https://www.julep.com/agents.md (mirrored at

    /llms.txt) that documents a read-only browsing surface agents may use without

    authentication, alongside the transactional UCP/MCP endpoint.


    This description was GENERATED by the API Evangelist enrichment pipeline from that

    published documentation. Every path and every response field named here was verified

    live against https://www.julep.com on 2026-07-19; nothing was invented. Julep does not

    publish an OpenAPI definition of its own, and the transactional surface (cart mutation,

    checkout, payment) is deliberately excluded — the provider requires those to go through

    UCP/MCP with explicit buyer approval (see mcp/julep-beauty-mcp.yml).

    '
  contact:
    name: Julep
    url: https://www.julep.com/pages/contact
  termsOfService: https://www.julep.com/policies/terms-of-service
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://www.julep.com/agents.md
servers:
- url: https://www.julep.com
  description: Julep production storefront
tags:
- name: Cart
  description: Read-only view of the current session cart.
paths:
  /cart.js:
    get:
      tags:
      - Cart
      operationId: getCart
      summary: Get the current session cart
      description: Returns the caller's session cart as JSON. Read-only in this description; the provider requires transactional flows to run through UCP/MCP with buyer approval.
      responses:
        '200':
          description: The current cart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '429':
          description: Rate limited.
components:
  schemas:
    Cart:
      type: object
      description: The caller's session cart.
      properties:
        token:
          type: string
        note:
          type:
          - string
          - 'null'
        attributes:
          type: object
        original_total_price:
          type: integer
        total_price:
          type: integer
        total_discount:
          type: integer
        total_weight:
          type: number
        item_count:
          type: integer
        items:
          type: array
          items:
            type: object
        requires_shipping:
          type: boolean
        currency:
          type: string
          examples:
          - USD
        items_subtotal_price:
          type: integer
        cart_level_discount_applications:
          type: array
          items:
            type: object
        discount_codes:
          type: array
          items:
            type: object
