openapi: 3.1.0
info:
  title: Julep Storefront Read-Only JSON Cart Catalog API
  version: '2026-07-19'
  summary: Public, unauthenticated catalog and cart JSON endpoints on www.julep.com.
  description: 'Julep runs its direct-to-consumer beauty store on Shopify. The provider publishes an

    agent-facing description of the store at https://www.julep.com/agents.md (mirrored at

    /llms.txt) that documents a read-only browsing surface agents may use without

    authentication, alongside the transactional UCP/MCP endpoint.


    This description was GENERATED by the API Evangelist enrichment pipeline from that

    published documentation. Every path and every response field named here was verified

    live against https://www.julep.com on 2026-07-19; nothing was invented. Julep does not

    publish an OpenAPI definition of its own, and the transactional surface (cart mutation,

    checkout, payment) is deliberately excluded — the provider requires those to go through

    UCP/MCP with explicit buyer approval (see mcp/julep-beauty-mcp.yml).

    '
  contact:
    name: Julep
    url: https://www.julep.com/pages/contact
  termsOfService: https://www.julep.com/policies/terms-of-service
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://www.julep.com/agents.md
servers:
- url: https://www.julep.com
  description: Julep production storefront
tags:
- name: Catalog
  description: Products and collections.
paths:
  /products.json:
    get:
      tags:
      - Catalog
      operationId: listProducts
      summary: List published products
      description: Returns a page of published products for the store.
      parameters:
      - name: limit
        in: query
        description: Number of products to return per page.
        required: false
        schema:
          type: integer
      - name: page
        in: query
        description: Page of results to return.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A page of products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '429':
          description: Rate limited. Back off and retry.
        '503':
          description: Storefront temporarily unavailable.
  /collections/{handle}/products.json:
    get:
      tags:
      - Catalog
      operationId: listCollectionProducts
      summary: List products in a collection
      description: Returns the published products belonging to one collection.
      parameters:
      - name: handle
        in: path
        required: true
        description: Collection handle, e.g. `all`.
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A page of products in the collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '404':
          description: No such collection.
        '429':
          description: Rate limited.
  /products/{handle}.json:
    get:
      tags:
      - Catalog
      operationId: getProduct
      summary: Get one product
      description: Returns a single product by its handle.
      parameters:
      - name: handle
        in: path
        required: true
        description: Product handle, e.g. `slowpoke-microneedling-facial-roller-gwp`.
        schema:
          type: string
      responses:
        '200':
          description: The product.
          content:
            application/json:
              schema:
                type: object
                properties:
                  product:
                    $ref: '#/components/schemas/Product'
        '404':
          description: No such product.
        '429':
          description: Rate limited.
components:
  schemas:
    Product:
      type: object
      description: A published storefront product.
      properties:
        id:
          type: integer
          description: Product identifier.
        title:
          type: string
        handle:
          type: string
          description: URL-safe product slug.
        body_html:
          type: string
          description: Product description as HTML.
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        vendor:
          type: string
          examples:
          - Julep
        product_type:
          type: string
        tags:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/Variant'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        options:
          type: array
          items:
            $ref: '#/components/schemas/Option'
    Image:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        position:
          type: integer
        src:
          type: string
          format: uri
        width:
          type: integer
        height:
          type: integer
        variant_ids:
          type: array
          items:
            type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Variant:
      type: object
      description: A purchasable variant of a product.
      properties:
        id:
          type: integer
        product_id:
          type: integer
        title:
          type: string
        option1:
          type:
          - string
          - 'null'
        option2:
          type:
          - string
          - 'null'
        option3:
          type:
          - string
          - 'null'
        sku:
          type:
          - string
          - 'null'
        price:
          type: string
        compare_at_price:
          type:
          - string
          - 'null'
        available:
          type: boolean
        requires_shipping:
          type: boolean
        taxable:
          type: boolean
        grams:
          type: number
        position:
          type: integer
        featured_image:
          type:
          - object
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Option:
      type: object
      properties:
        name:
          type: string
        position:
          type: integer
        values:
          type: array
          items:
            type: string
    ProductList:
      type: object
      description: A page of published products.
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
