openapi: 3.1.0
info:
  title: Julep Storefront Read-Only JSON Cart Discovery API
  version: '2026-07-19'
  summary: Public, unauthenticated catalog and cart JSON endpoints on www.julep.com.
  description: 'Julep runs its direct-to-consumer beauty store on Shopify. The provider publishes an

    agent-facing description of the store at https://www.julep.com/agents.md (mirrored at

    /llms.txt) that documents a read-only browsing surface agents may use without

    authentication, alongside the transactional UCP/MCP endpoint.


    This description was GENERATED by the API Evangelist enrichment pipeline from that

    published documentation. Every path and every response field named here was verified

    live against https://www.julep.com on 2026-07-19; nothing was invented. Julep does not

    publish an OpenAPI definition of its own, and the transactional surface (cart mutation,

    checkout, payment) is deliberately excluded — the provider requires those to go through

    UCP/MCP with explicit buyer approval (see mcp/julep-beauty-mcp.yml).

    '
  contact:
    name: Julep
    url: https://www.julep.com/pages/contact
  termsOfService: https://www.julep.com/policies/terms-of-service
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://www.julep.com/agents.md
servers:
- url: https://www.julep.com
  description: Julep production storefront
tags:
- name: Discovery
  description: Store metadata and agent-discovery documents.
paths:
  /sitemap.xml:
    get:
      tags:
      - Discovery
      operationId: getSitemap
      summary: Get the storefront sitemap index
      description: Sitemap index linking the product, page, collection, blog, and agentic-discovery sitemaps.
      responses:
        '200':
          description: Sitemap index.
          content:
            application/xml:
              schema:
                type: string
  /.well-known/ucp:
    get:
      tags:
      - Discovery
      operationId: getUcpProfile
      summary: Get the UCP merchant profile
      description: Universal Commerce Protocol merchant profile — supported versions, service endpoints, capabilities, and payment handlers. Saved at well-known/julep-beauty-ucp.json.
      responses:
        '200':
          description: UCP merchant profile.
          content:
            application/json:
              schema:
                type: object
  /agents.md:
    get:
      tags:
      - Discovery
      operationId: getAgentInstructions
      summary: Get the agent instructions document
      description: The provider's canonical agent-facing description of the store. Mirrored at /llms.txt and listed in /sitemap_agentic_discovery.xml.
      responses:
        '200':
          description: Agent instructions in Markdown.
          content:
            text/markdown:
              schema:
                type: string
