openapi: 3.1.0
info:
  title: Julep Storefront Read-Only JSON Cart Search API
  version: '2026-07-19'
  summary: Public, unauthenticated catalog and cart JSON endpoints on www.julep.com.
  description: 'Julep runs its direct-to-consumer beauty store on Shopify. The provider publishes an

    agent-facing description of the store at https://www.julep.com/agents.md (mirrored at

    /llms.txt) that documents a read-only browsing surface agents may use without

    authentication, alongside the transactional UCP/MCP endpoint.


    This description was GENERATED by the API Evangelist enrichment pipeline from that

    published documentation. Every path and every response field named here was verified

    live against https://www.julep.com on 2026-07-19; nothing was invented. Julep does not

    publish an OpenAPI definition of its own, and the transactional surface (cart mutation,

    checkout, payment) is deliberately excluded — the provider requires those to go through

    UCP/MCP with explicit buyer approval (see mcp/julep-beauty-mcp.yml).

    '
  contact:
    name: Julep
    url: https://www.julep.com/pages/contact
  termsOfService: https://www.julep.com/policies/terms-of-service
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://www.julep.com/agents.md
servers:
- url: https://www.julep.com
  description: Julep production storefront
tags:
- name: Search
  description: Storefront product search.
paths:
  /search:
    get:
      tags:
      - Search
      operationId: searchStorefront
      summary: Search the storefront
      description: Storefront search. Documented by the provider for agents as `GET /search?q={query}&type=product`. Returns an HTML results page.
      parameters:
      - name: q
        in: query
        required: true
        description: Search terms.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Resource type to search.
        schema:
          type: string
          examples:
          - product
      responses:
        '200':
          description: Search results page.
          content:
            text/html:
              schema:
                type: string
        '429':
          description: Rate limited.
